# MovieLens exploration to Collaborative Filtering

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
def read_data_ml100k():
    names = ['user_id', 'item_id', 'rating', 'timestamp']
    data = pd.read_csv('../ml-100k/u.data', '\t', names=names, engine='python')
    num_users = data.user_id.unique().shape[0]
    num_items = data.item_id.unique().shape[0]
    return data, num_users, num_items

In [7]:
df, n_users, n_itens = read_data_ml100k()

In [12]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596